html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

a, button, input[type=button] {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

a:hover, button:hover, input[type=button]:hover {
  cursor: pointer;
}

input[type="email"], input[type="password"], input[type="text"], input[type="date"],
input[type="tel"], select, textarea {
  width: 100%;
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 20px;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="date"]:focus,
input[type="tel"]:focus, select:focus, textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px rgba(170, 170, 170, 0.3);
          box-shadow: 0 0 0 3px rgba(170, 170, 170, 0.3);
}

select {
  padding: 3px 10px;
}

.wrap {
  max-width: 1024px;
  position: relative;
  margin: 0 auto;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 30px;
}

@media (max-width: 896px) {
  .top {
    padding: 0 10px 0 20px;
  }
}

@media (max-width: 767px) {
  .top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 667px) {
  .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 0 30px;
  }
}

@media (max-width: 568px) {
  .top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 40px 0;
  }
}

.top__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .top__icon {
    position: absolute;
    left: 30px;
  }
}

@media (max-width: 667px) {
  .top__icon {
    position: static;
    padding: 10px 0 0 5px;
  }
}

.top__icon li a {
  width: 25px;
  height: 25px;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid #c4ac8a;
  color: #c4ac8a;
}

.top__icon li a:hover {
  color: white;
  background: #c4ac8a;
}

.top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__menu.hide {
  display: none;
}

.top__menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none;
  margin: 18px 0;
  padding: 0 15px;
  font-weight: 300;
  color: black;
  border-right: 1px solid black;
}

.top__menu li a:hover {
  color: #aaaaaa;
}

@media (max-width: 667px) {
  .top__menu li a {
    margin: 15px 0;
  }
}

.top__menu li a span {
  font-size: 12px;
  padding-left: 3px;
}

.top__menu li:nth-last-child(2) a {
  border-right: none;
}

@media (max-width: 767px) {
  .top__menu li:nth-last-child(2) a {
    border-right: 1px solid black;
  }
}

.top__menu li:last-child a {
  border-right: none;
}

.top__menu .ham-btn {
  padding: 0 15px;
  cursor: pointer;
  display: none;
  background: white;
}

@media (max-width: 767px) {
  .top__menu .ham-btn {
    display: block;
  }
}

.top__menu .ham-btn span {
  display: block;
  margin: 4px 0;
  width: 20px;
  height: 1px;
  background: black;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.top__menu .ham-btn:hover span {
  background: #aaaaaa;
}

.top__main-menu {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 45px;
  background: white;
  padding: 50px 0 70px 15%;
  z-index: 1000;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .top__main-menu {
    display: block;
  }
}

@media (max-width: 667px) {
  .top__main-menu {
    top: 85px;
  }
}

@media (max-width: 568px) {
  .top__main-menu {
    top: 125px;
  }
}

@media (max-width: 414px) {
  .top__main-menu {
    padding: 50px 0 70px 10%;
  }
}

.top__main-menu > li {
  width: 200px;
}

.top__main-menu > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  height: 50px;
  padding: 10px;
  color: black;
  text-decoration: none;
  overflow: hidden;
}

.top__main-menu > li > a:hover span:nth-child(1) {
  -webkit-transform: scaleY(0) translateY(-33px);
          transform: scaleY(0) translateY(-33px);
}

.top__main-menu > li > a:hover span:nth-child(2) {
  -webkit-transform: translateY(-33px);
          transform: translateY(-33px);
}

.top__main-menu > li > a span {
  -webkit-transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  position: relative;
  padding: 10px;
}

.top__main-menu .top__all-product-list {
  position: absolute;
  top: 160px;
  right: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

@media (max-width: 568px) {
  .top__main-menu .top__all-product-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: 20%;
  }
}

@media (max-width: 414px) {
  .top__main-menu .top__all-product-list {
    right: 13%;
  }
}

.top__main-menu .top__all-product-list li a {
  display: block;
  padding: 8.5px;
  color: #c4ac8a;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
}

.top__main-menu .top__all-product-list li a:hover {
  color: #dacdba;
}

.top.show .ham-btn {
  padding: 0 35px 0 15px;
  width: 20px;
  height: 20px;
  position: relative;
}

.top.show .ham-btn span {
  top: 5px;
  position: absolute;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.top.show .ham-btn span:nth-child(1) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.top.show .ham-btn span:nth-child(2) {
  display: none;
}

.top.show .ham-btn span:nth-child(3) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.top.show .top__main-menu {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.top.show .top__all-product-list.show {
  opacity: 1;
}

.top__search {
  position: relative;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10.5px 0;
}

.top__search.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 667px) {
  .top__search {
    margin-left: 10px;
  }
}

.top__search .close-btn {
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  padding-right: 10px;
}

.top__search input {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  width: 270px;
  font-weight: 300;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px 0 0 3px;
  padding: 5px 10px 5px 25px;
  margin: 0;
}

@media (max-width: 896px) {
  .top__search input {
    width: 220px;
  }
}

.top__search input:focus {
  outline: none;
}

.top__search .search-btn {
  padding: 6px 10px 5px;
  border: 1px solid black;
  border-radius: 0 3px 3px 0;
  background: black;
  color: white;
}

.top__search .search-btn:focus {
  outline: none;
}

.top .table-wrap {
  display: none;
  position: absolute;
  right: 0px;
  top: 40px;
  width: 500px;
  padding: 30px;
  border: 2px solid #dacdba;
  background: white;
  border-radius: 5px;
  z-index: 2000;
}

.top .table-wrap.show {
  display: block;
}

.top .table-wrap .btn {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 14px;
  background: #dacdba;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  color: black;
}

.top .table-wrap .btn:hover {
  background: #c4ac8a;
  color: white;
}

.top .shopping-table {
  width: 100%;
  margin-bottom: 10px;
}

.top .shopping-table tr {
  margin: 0 20px;
}

.top .shopping-table tr th, .top .shopping-table tr td {
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
}

.top .shopping-table tr th {
  padding: 10px 5px;
  font-size: 13px;
  color: #c4ac8a;
}

.top .shopping-table tr td {
  padding: 15px 5px;
  border-top: 1px solid #dacdba;
  color: #191919;
  font-size: 13px;
}

.top .shopping-table tr td img {
  padding-left: 20px;
}

.top .shopping-table tr td.delete {
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.top .shopping-table tr td.delete:hover {
  color: #c4ac8a;
}

.top .shopping-table .select_qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top .shopping-table .select_qty .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top .shopping-table .select_qty .input-group button {
  border-radius: 0;
  border: 1px solid black;
  background: white;
  font-size: 12px;
  color: black;
  padding: 5px 8px;
}

.top .shopping-table .select_qty .input-group button:focus {
  outline: none;
}

.top .shopping-table .select_qty .input-group input {
  -moz-appearance: textfield;
  text-align: center;
  width: 40px;
  border-radius: 0;
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: white;
  font-size: 12px;
  color: black;
  padding: 4px;
}

.top .shopping-table .select_qty .input-group input:focus {
  outline: none;
}

.top .shopping-table .select_qty .input-group input[type='number'] {
  -moz-appearance: textfield;
}

.top .shopping-table .select_qty .input-group input[type='number']::-webkit-outer-spin-button,
.top .shopping-table .select_qty .input-group input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.top .shopping-table .select_qty .input-group .reset [type="number"] {
  -moz-appearance: spinner-textfield;
}

.top .shopping-table .select_qty .input-group .reset input[type='number']::-webkit-outer-spin-button,
.top .shopping-table .select_qty .input-group .reset input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: spinner-textfield;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.header__logo-wrap {
  display: block;
  position: absolute;
  top: 20px;
  width: 100px;
  height: 100px;
  z-index: 1001;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header__logo-wrap {
    top: 20px;
    right: 40px;
  }
}

@media (max-width: 568px) {
  .header__logo-wrap {
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.header__logo-wrap:hover .logo-frame {
  -webkit-animation: rotateLogo 5s linear infinite;
          animation: rotateLogo 5s linear infinite;
}

.header__logo-wrap .logo-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/hurley-furniture-2-02.svg) no-repeat;
  -webkit-animation: rotateLogo 10s linear infinite;
          animation: rotateLogo 10s linear infinite;
}

.header__logo-wrap h1 .logo {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/hurley-furniture-2-03.svg) no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
}

.header__main-menu {
  position: relative;
  width: 100%;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  z-index: 1000;
}

@media (max-width: 767px) {
  .header__main-menu {
    display: none;
  }
}

.header__main-menu.main-menu-nobanner {
  padding-top: 100px;
}

.header__main-menu > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 10px;
  color: black;
  text-decoration: none;
  overflow: hidden;
}

.header__main-menu > li > a:hover span:nth-child(1) {
  -webkit-transform: scaleY(0) translateY(-33px);
          transform: scaleY(0) translateY(-33px);
}

.header__main-menu > li > a:hover span:nth-child(2) {
  -webkit-transform: translateY(-33px);
          transform: translateY(-33px);
}

.header__main-menu > li > a span {
  -webkit-transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  position: relative;
  padding: 10px;
}

.header__main-menu .header__all-product-list {
  background: #c4ac8a;
  width: 95%;
  position: absolute;
  left: 50%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5px 30px 13px;
  -webkit-transform: scaleY(0) translateX(-50%);
          transform: scaleY(0) translateX(-50%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
}

@media (max-width: 896px) {
  .header__main-menu .header__all-product-list {
    padding: 5px 10px 13px;
  }
}

.header__main-menu .header__all-product-list.show {
  -webkit-transform: scaleY(1) translateX(-50%);
          transform: scaleY(1) translateX(-50%);
}

.header__main-menu .header__all-product-list li {
  display: block;
}

.header__main-menu .header__all-product-list li:hover img {
  -webkit-animation: scaleChange 0.3s;
          animation: scaleChange 0.3s;
}

.header__main-menu .header__all-product-list li a {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
}

@media (max-width: 896px) {
  .header__main-menu .header__all-product-list li a {
    padding: 20px 0;
  }
}

.header__main-menu .header__all-product-list li a img {
  display: block;
  width: 50px;
  padding-bottom: 7px;
}

@-webkit-keyframes rotateLogo {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateLogo {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scaleChange {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes scaleChange {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  margin-top: 30px;
  background: rgba(170, 170, 170, 0.1);
}

.footer.footer-white {
  margin-top: 0;
  background: white;
}

.footer .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 568px) {
  .footer .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .text p {
  font-weight: 100;
  padding: 10px 5px;
}

.go-top {
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(170, 170, 170, 0.3);
  background: white;
  font-size: 15px;
  cursor: pointer;
  z-index: 1100;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.go-top svg {
  position: absolute;
  stroke: black;
  stroke-width: 1px;
  fill: none;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.go-top svg:hover {
  stroke-dasharray: 300;
  stroke-dashoffset: 0;
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1999;
}

.mask.open {
  display: block;
}

.content-cart {
  background: rgba(170, 170, 170, 0.1);
  border-top: 1px solid rgba(170, 170, 170, 0.3);
  border-bottom: 1px solid rgba(170, 170, 170, 0.3);
  padding: 60px 100px 70px;
}

.content-cart h3 {
  position: relative;
  text-align: center;
  font-size: 35px;
  padding-bottom: 70px;
}

.content-cart h3::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 40px;
  background: black;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.step li {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 300;
}

.step li span {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c4ac8a;
  color: white;
  border-radius: 50%;
}

.step li p {
  font-size: 15px;
  color: #c4ac8a;
  padding: 10px 0 15px;
}

.step li .bar {
  width: 100%;
  height: 5px;
  background: rgba(218, 205, 186, 0.5);
}

.step li .bar.focus {
  background: #c4ac8a;
}

.step-one {
  display: none;
}

.step-one.show {
  display: block;
}

.step-two {
  display: none;
}

.step-two.show {
  display: block;
}

.step-three {
  display: none;
  padding: 50px;
  text-align: center;
}

.step-three.show {
  display: block;
}

.step-three h4 {
  font-size: 27px;
  font-weight: 300;
  padding-bottom: 20px;
}

.step-three a {
  font-size: 15px;
  color: black;
}

.step-three a:hover {
  color: #c4ac8a;
}

.checkout-table {
  width: 100%;
  background: white;
  border: 1px solid #dacdba;
  margin-bottom: 30px;
}

.checkout-table tr {
  margin: 0 20px;
}

.checkout-table tr th, .checkout-table tr td {
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
}

.checkout-table tr th {
  padding: 10px 5px;
  font-size: 13px;
  color: #c4ac8a;
}

.checkout-table tr td {
  padding: 15px 5px;
  border-top: 1px solid #dacdba;
  color: #191919;
  font-size: 13px;
}

.checkout-table tr td img {
  padding-left: 20px;
}

.checkout-table tr td.delete {
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.checkout-table tr td.delete:hover {
  color: #c4ac8a;
}

.checkout-table .select_qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout-table .select_qty .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout-table .select_qty .input-group button {
  border-radius: 0;
  border: 1px solid black;
  background: white;
  font-size: 12px;
  color: black;
  padding: 6px 10px;
}

.checkout-table .select_qty .input-group button:focus {
  outline: none;
}

.checkout-table .select_qty .input-group input {
  -moz-appearance: textfield;
  text-align: center;
  width: 60px;
  border-radius: 0;
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: white;
  font-size: 12px;
  color: black;
  padding: 6px;
}

.checkout-table .select_qty .input-group input:focus {
  outline: none;
}

.checkout-table .select_qty .input-group input[type='number'] {
  -moz-appearance: textfield;
}

.checkout-table .select_qty .input-group input[type='number']::-webkit-outer-spin-button,
.checkout-table .select_qty .input-group input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.checkout-table .select_qty .input-group .reset [type="number"] {
  -moz-appearance: spinner-textfield;
}

.checkout-table .select_qty .input-group .reset input[type='number']::-webkit-outer-spin-button,
.checkout-table .select_qty .input-group .reset input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: spinner-textfield;
}

.cart-select-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-select-wrap h4 {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 17px;
  font-weight: 300;
  padding: 10px 20px;
  background: #c4ac8a;
  color: white;
}

.cart-select-wrap .cart-select {
  width: 55%;
  border: 1px solid #dacdba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.cart-select-wrap .cart-select .input-wrap {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.cart-select-wrap .cart-select .input-wrap label {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.cart-select-wrap .cart-select .input-wrap select {
  margin-top: 7px;
  margin-bottom: 20px;
}

.cart-select-wrap .cart-select .input-wrap span {
  font-size: 12px;
  padding-top: 7px;
  padding-left: 13px;
  text-indent: -13.5px;
  line-height: 1.2;
  text-align: justify;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: black;
}

.cart-select-wrap .sum-check {
  width: 40%;
  border: 1px solid #dacdba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.cart-select-wrap .sum-check .sum-wrap {
  width: 70%;
  padding: 30px 0;
}

.cart-select-wrap .sum-check .sum-wrap div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  font-size: 14px;
}

.cart-select-wrap .sum-check .sum-wrap .sale-price {
  color: #c4ac8a;
}

.cart-select-wrap .sum-check .sum-wrap .sale-price.delete {
  text-decoration: line-through;
}

.cart-select-wrap .sum-check .sum-wrap .all-sum {
  font-size: 16px;
  font-weight: 500;
  padding-top: 20px;
  border-top: 1px solid #dacdba;
}

.cart-select-wrap .sum-check button {
  width: 100%;
  font-size: 14px;
  background: #dacdba;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
}

.cart-select-wrap .sum-check button:hover {
  background: #c4ac8a;
  color: white;
}

.form-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10px;
  border: 1px solid #dacdba;
  background: white;
}

.form-wrap h4 {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 17px;
  font-weight: 300;
  padding: 10px 20px;
  background: #c4ac8a;
  color: white;
}

.form-wrap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.form-wrap p {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.form-wrap .input-wrap {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 10px;
}

.form-wrap .input-wrap .form-group {
  width: 100%;
  margin-bottom: 20px;
}

.form-wrap .input-wrap .form-group > span {
  padding: 0;
}

.form-wrap .input-wrap .form-group label {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.form-wrap .input-wrap .form-group input, .form-wrap .input-wrap .form-group select, .form-wrap .input-wrap .form-group textarea {
  margin-top: 7px;
}

.form-wrap .input-wrap .form-group textarea {
  height: 123px;
}

.form-wrap .input-wrap .form-group p {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  padding-top: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #c4ac8a;
}

.form-wrap .input-wrap button {
  width: 100%;
  font-size: 14px;
  background: #dacdba;
  padding: 6px 12px;
  border: none;
  border-radius: 3px;
}

.form-wrap .input-wrap button:hover {
  background: #c4ac8a;
  color: white;
}

.btns {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btns a {
  font-size: 14px;
  color: black;
}

.btns a:hover {
  color: #c4ac8a;
}

.header__banner-products {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@media (max-width: 667px) {
  .header__banner-products {
    height: 250px;
  }
}

.contents-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px 50px;
}

@media (max-width: 767px) {
  .contents-products {
    padding: 60px 30px;
  }
}

@media (max-width: 568px) {
  .contents-products {
    padding: 60px 0;
  }
}

.contents-products h4 {
  position: relative;
  text-align: center;
  font-size: 35px;
  padding-bottom: 70px;
}

.contents-products h4::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 40px;
  background: black;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contents-products .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 667px) {
  .contents-products .items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 568px) {
  .contents-products .items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contents-products .items a {
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents-products .items .item {
  width: 24%;
  margin-bottom: 40px;
}

.contents-products .items .item:not(:nth-child(4n)) {
  margin-right: calc(4% / 3);
}

@media (max-width: 896px) {
  .contents-products .items .item {
    width: 30%;
  }
  .contents-products .items .item:not(:nth-child(3n)) {
    margin-right: 5%;
  }
  .contents-products .items .item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 667px) {
  .contents-products .items .item {
    width: 48%;
  }
  .contents-products .items .item:not(:nth-child(3n)) {
    margin-right: 0;
  }
}

@media (max-width: 568px) {
  .contents-products .items .item {
    width: 300px;
  }
}

.contents-products .items .item .card-img {
  position: relative;
  width: 90%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 568px) {
  .contents-products .items .item .card-img {
    height: 250px;
  }
}

.contents-products .items .item .card-img .add-btn {
  content: 'Add to Cart';
  position: absolute;
  display: none;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: 300;
  border: none;
  -webkit-transition: 0.3 ease-in-out;
  transition: 0.3 ease-in-out;
}

.contents-products .items .item .card-img .add-btn:focus {
  outline: none;
}

.contents-products .items .item:hover .card-img .add-btn {
  display: block;
}

.contents-products .items .item .card-text {
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents-products .items .item .card-text .card-title {
  font-size: 15px;
  font-weight: 500;
  color: #c4ac8a;
  padding-bottom: 10px;
}

.contents-products .items .item .card-text .sale-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
}

.contents-products .items .item .card-text .sale-price .sale-icon {
  font-style: initial;
  font-size: 12px;
  font-weight: 300;
  padding: 2px 5px;
  border-radius: 10px;
  margin-left: 10px;
  background: #fad200;
  color: black;
}

.contents-products .items .item .card-text .origin-price {
  font-size: 13px;
  padding-top: 8px;
  text-decoration: line-through;
  font-weight: 300;
  font-style: italic;
}
/*# sourceMappingURL=all.css.map */