<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hurley Furniture</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" href="img/hurley-furniture-icon-05.ico">
    <meta name="description" content="Hurley Furniture">

    <meta property="og:title" content="Hurley Furniture" />
    <meta property="og:description" content="Hurley Furniture‎" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="www.index.com" />
    <meta property="og:image" content="img/FB-img.png" />

    <link rel="apple-touch-icon" href="img/Hex-apple-touch-icon.png">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.2/dist/vue-loading.css">
    <link rel="stylesheet" href="sass/all.css">
</head>

<body>
    <div class="wrap">
        <div class="top" :class="{ 'show': openMainMenu }">
            <ul class="top__icon">
                <li><a href="#" class="fab fa-twitter twitter"></a></li>
                <li><a href="#" class="fab fa-facebook-f facebook"></a></li>
                <li><a href="#" class="fab fa-instagram ig"></a></li>
            </ul>
            <ul class="top__menu" :class="{ 'hide': opensearch }">
                <li><a href="#">ACCOUNT</a></li>
                <li><a href="#" @click.prevent="shoppingCartOpen = true">CART<span>({{cart.length}})</span> </a></li>
                <li><a href="#" @click="opensearch = true"><i class="fas fa-search search-icon"></i></a></li>
                <li class="ham-btn" @click.prevent="openMainMenu = !openMainMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
            </ul>
            <div is="shopping" :shoppingcart="cart" :shoppingcartopen="shoppingCartOpen" @deleteProduct="deleteCartItem"
                @qtyupdate="qtyUpdate"></div>
            <ul class="top__main-menu">
                <li><a href="#"><span>HOME</span><span>首頁</span></a></li>
                <li><a href="index.html"><span>ALL
                            PRODUCTS</span><span>所有商品</span></a></li>
                <li class="top__all-product"><a href="#" @click.prevent="openMenu = !openMenu"><span>PRODUCT CATEGORY
                            &nbsp▸</span><span>分類單品 &nbsp▸</span></a>
                    <ul class="top__all-product-list" :class="{ 'show': openMenu }">
                        <li><a href="index.html">Sofa</a></li>
                        <li><a href="index.html">Chair</a>
                        </li>
                        <li><a href="index.html">Table</a>
                        </li>
                        <li><a href="index.html">Cabinet</a></li>
                        <li><a href="index.html">Side Table</a></li>
                        <li><a href="index.html">Lighting</a></li>
                    </ul>
                </li>
                <li><a href="index.html"><span>SALE</span><span>限時特價</span></a>
                </li>
                <li><a href="#"><span>SHIPPING GUIDE</span><span>運送須知</span></a></li>
                <li><a href="#"><span>CONTACT</span><span>聯絡我們</span></a></li>
            </ul>
            <div is="search" :search="opensearch" @changesearch="changeSearch"></div>
        </div>
        <div class="header">
            <div class="header__logo-wrap">
                <div class="logo-frame"></div>
                <h1><a href="#" class="logo">Hurley Furniture</a></h1>
            </div>
            <ul class="header__main-menu main-menu-nobanner">
                <li><a href="#"><span>HOME</span><span>首頁</span></a></li>
                <li><a href="index.html"><span>ALL PRODUCTS</span><span>所有商品</span></a></li>
                <li class="header__all-product"><a href="#" @click.prevent="openMenu = !openMenu"><span>PRODUCT CATEGORY
                            &nbsp▾</span><span>分類單品 &nbsp▾</span></a>
                    <ul class="header__all-product-list" :class="{ 'show': openMenu }">
                        <li><a href="index.html">
                                <img src="img/sofa-04.png" alt="">
                                <p>Sofa</p>
                            </a></li>
                        <li><a href="index.html">
                                <img src="img/chair-04.png" alt="">
                                <p>Chair</p>
                            </a></li>
                        <li><a href="index.html">
                                <img src="img/table-04.png" alt="">
                                <p>Table</p>
                            </a></li>
                        <li><a href="index.html">
                                <img src="img/cabinet-04.png" alt="">
                                <p>Cabinet</p>
                            </a></li>
                        <li><a href="index.html">
                                <img src="img/sidetable-04.png" alt="">
                                <p>Side Table</p>
                            </a></li>
                        <li><a href="index.html">
                                <img src="img/lamp-04.png" alt="">
                                <p>Lighting</p>
                            </a></li>
                    </ul>
                </li>
                <li><a href="index.html"><span>SALE</span><span>限時特價</span></a></li>
                <li><a href="#"><span>SHIPPING GUIDE</span><span>運送須知</span></a></li>
                <li><a href="#"><span>CONTACT</span><span>聯絡我們</span></a></li>
            </ul>
        </div>
        <div class="content content-cart">
            <h3>CHECK OUT</h3>
            <ul class="step">
                <li>
                    <span>1</span>
                    <p>購物車</p>
                    <div class="bar bar-one" :class="{ 'focus': page === 1 }"></div>
                </li>
                <li>
                    <span>2</span>
                    <p>填寫資料</p>
                    <div class="bar bar-two" :class="{ 'focus': page === 2 }"></div>
                </li>
                <li>
                    <span>3</span>
                    <p>訂單確認</p>
                    <div class="bar bar-three" :class="{ 'focus': page === 3 }"></div>
                </li>
            </ul>
            <div class="step-one" :class="{ 'show': page === 1 }">
                <table class="checkout-table">
                    <tr class="table-title">
                        <th width="13%"></th>
                        <th width="20%">品名</th>
                        <th width="10%">單位</th>
                        <th width="15%">售價</th>
                        <th width="19%">數量</th>
                        <th width="15%">小計</th>
                        <th width="8%"></th>
                    </tr>
                    <tr v-for="item in cart" :key="item.product.id + 'cart'">
                        <td><img :src="item.product.imageUrl[0]" alt=""></td>
                        <td>{{ item.product.title }}</td>
                        <td>{{ item.product.unit }}</td>
                        <td>NT${{ item.product.price | thousands }}</td>
                        <td>
                            <form class="select_qty">
                                <div class="input-group">
                                    <button type="button" class="decrease-btn" @click="qtyUpdate(item.product.id, item.quantity - 1)"
                                        :disabled="item.quantity === 0">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <input type="number" class="product-number" :value="item.quantity"
                                        @input="qtyUpdate(item.product.id, $event.target.value)">
                                    <button type="button" class="add-btn" @click="qtyUpdate(item.product.id, item.quantity + 1)">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </form>
                        </td>
                        <td>NT${{ item.product.price * item.quantity | thousands }}</td>
                        <td class="delete" @click="deleteCartItem(item.product.id)"><i class="fas fa-times"></i></td>
                    </tr>
                </table>
                <div class="cart-select-wrap">
                    <div class="cart-select">
                        <h4>選擇送貨及付款方式</h4>
                        <div class="input-wrap">
                                <label for="delivery-place">送貨地點</label>
                                <select id="delivery-place" ref="pay">
                                    <option value="" selected disabled>台灣</option>
                                </select>
                                <label for="delivery-method">送貨方式</label>
                                <select id="delivery-method">
                                    <option value="" selected disabled>宅配到府</option>
                                </select>
                                <span>1. 預購商品會因不同品牌有不同的等待期，請您耐心等候。</span>
                                <span>2. 提交訂單後，我們會寄送一封確認訂單的 E-mail 到您指定的電子郵件信箱中，再次確認本次訂購內容、金額、付款方式等項目。</span>
                        </div>
                    </div>
                    <div class="sum-check">
                        <h4>訂單資訊</h4>
                        <div class="sum-wrap">
                            <div class="product-sum">
                                <p>小計：</p>
                                <p>NT$ {{ totalPrice | thousands }}</p>
                            </div>
                            <div class="deliver-sum">
                                <p>運費：</p>
                                <p>NT$ 350</p>
                            </div>
                            <div class="sale-price" :class="{ 'delete': totalPrice < 10000 }">
                                <p>優惠促銷：滿一萬免運</p>
                                <p v-if="totalPrice >= 10000">-NT$ 350</p>
                            </div>
                            <div class="all-sum">
                                <p>總金額</p>
                                <p>NT$ {{ totalPrice + deliveryFee | thousands }}</p>
                            </div>
                            <button type="button" class="checkout" @click="page = 2">前往結帳</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="step-two" :class="{ 'show': page === 2 }">
                <div class="form-wrap">
                    <h4>顧客資料</h4>
                    <validation-observer v-slot="{ invalid }">
                        <form @submit.prevent="createOrder()">
                            <div class="input-wrap">
                                <div class="form-group">
                                    <validation-provider rules="required" v-slot="{ errors }">
                                        <label for="收件人姓名">收件人姓名</label>
                                        <input type="text" id="收件人姓名" v-model="form.name">
                                        <p>{{ errors[0] }}</p>
                                    </validation-provider>
                                </div>
                                <div class="form-group">
                                    <validation-provider rules="required|email" v-slot="{ errors }">
                                        <label for="電子信箱">電子信箱</label>
                                        <input type="email" id="電子信箱" v-model="form.email">
                                        <p>{{ errors[0] }}</p>
                                    </validation-provider>
                                </div>
                                <div class="form-group">
                                    <validation-provider rules="required|min:8" v-slot="{ errors }">
                                        <label for="收件人電話">收件人電話</label>
                                        <input type="tel" id="收件人電話" v-model="form.tel">
                                        <p>{{ errors[0] }}</p>
                                    </validation-provider>
                                </div>
                                <div class="form-group">
                                    <validation-provider rules="required" v-slot="{ errors }">
                                        <label for="地址">地址</label>
                                        <input type="text" id="地址" v-model="form.address">
                                        <p>{{ errors[0] }}</p>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="form-group">
                                    <label for="payment">付款方式</label>
                                    <select id="payment" v-model="form.payment">
                                        <option value="" selected disabled>請選擇</option>
                                        <option value="WebATM">WebATM</option>
                                        <option value="ATM">ATM</option>
                                        <option value="Barcode">Barcode</option>
                                        <option value="Credit">Credit</option>
                                        <option value="ApplePay">ApplePay</option>
                                        <option value="GooglePay">GooglePay</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="remark">訂單備註</label>
                                    <textarea id="remark" placeholder="有什麼想告訴我們的嗎？"></textarea>
                                </div>
                                <button type="submit" class="submit-btn" @click="page = 3" :disabled="invalid">提交訂單</button>
                            </div>
                        </form>
                    </validation-observer>
                </div>
                <div class="btns">
                    <a href="cart.html" class="back-btn" @click.prevent="page = 1">← 返回購物車</a>
                </div>
            </div>
            <div class="step-three" :class="{ 'show': page === 3 }">
                <h4>謝謝您的訂單</h4>
                <a href="#">訂單查詢 →</a>
            </div>
        </div>
        <div class="footer footer-login">
            <div class="text">
                <p>© Hurley Furniture 2020 All Rights Reserved.</p>
                <p>圖片為練習使用，無商業用途。</p>
            </div>
        </div>
        <div is="gotop"></div>
        <loading :active.sync="isLoading"></loading>
        <div class="mask" :class="{'open': shoppingCartOpen}" @click.prevent="shoppingCartOpen = !shoppingCartOpen"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.2/dist/vue-loading.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>
    <script src="js/cart.js" type="module"></script>
</body>

</html>